<div class='container-fluid home'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='introduction'>
      <h1>Welcome to Urbank</h1>
      <h3>Start transferring funds today.</h3>
      <p><%= link_to 'Start Now', account_path(Account.first), class: 'btn btn-default'%></p>
    </div>
  </div>
  <div class='col-md-2'></div>
</div>
